/* Base styles for all screen sizes */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 1.5rem;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  border-radius: 10px;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.cardinfo {
  text-align: center;
}

.cardlikes {
  color: #eb4949;
  font-weight: bold;
}

.carddescription {
  color: #333333;
}

/* Media query for smaller screens (e.g., phones) */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    padding: 1rem;
  }

  .card img {
    max-height: 150px;
  }
}

/* Add more media queries as needed for different screen sizes */

.notfoundcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  background-color: #f2f2f2;
}

.notfoundcontainerh1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-top: 2rem;
}
