/* styles/mainpage.module.css */

/* Container that holds each post */
.container {
  display: flex;
  flex-direction: column;
  height: auto; /* Change fixed height to 'auto' for responsiveness */
  align-items: center;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
}

/* Profile picture */
.profilepic {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid #dd2ac5;
  margin-bottom: 0.5rem;
}

/* Styling for profile picture on smaller screens */
@media only screen and (max-width: 768px) {
  .profilepic {
    width: 3rem; /* Adjust profile picture size for smaller screens */
    height: 3rem;
    border: 1px solid #dd2ac5; /* Adjust border thickness for smaller screens */
  }
}

/* Styling for the main post image */
.postpic {
  width: 100%; /* Change fixed width to '100%' for responsiveness */
  height: auto; /* Change fixed height to 'auto' for responsiveness */
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

/* Username styling */
.username {
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0.5rem;
}

/* Main image styling */
.mainimage {
  width: 100%; /* Change fixed width to '100%' for responsiveness */
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}

/* Likes and description styling */
.likes {
  color: #ff6b6b;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Description styling */
.description {
  color: #555555;
  margin-bottom: 1rem;
}

/* Styling for the post header */
.postheader {
  display: flex;
}

/* Styling adjustments for smaller screens (e.g., phones) */
@media only screen and (max-width: 768px) {
  /* Reduce padding for smaller screens */
  .container {
    padding: 0.5rem;
  }

  /* Adjust max-width for smaller screens */
  .postpic {
    max-width: 100%;
  }

  /* Reduce padding and adjust font size for smaller screens */
  .username {
    padding: 1rem;
    font-size: 1rem;
  }
}
