/* Navbar styling */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  /* z-index: 1; */
  opacity: 0.9;
}

/* Styling for navbar links */
.navbarancher {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 1rem;
  color: white;
}

/* Styling for navbar list */
.navbarul {
  display: flex;
  list-style-type: none;
}

/* Styling for navbar list items */
.navbarulli {
  list-style: none;
  font-size: 1.2rem;
}

/* Styling for the top right section */
.topright {
  position: absolute;
  display: inline-block;
  right: 34px;
  top: 18px;
}

/* Styling for top right links */
.toprighta {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 1rem;
  color: white;
}

/* Media query for smaller screens (e.g., phones) */
@media only screen and (max-width: 768px) {
  /* Adjust padding for smaller screens */
  .navbar {
    padding: 0.5rem 1rem;
  }

  /* Adjust font size and margin for smaller screens */
  .navbarancher {
    font-size: 1rem;
    margin: 0 0.5rem;
  }

  /* Stack navigation items vertically for smaller screens */
  .navbarul {
    flex-direction: column;
  }

  /* Adjust font size and margin for smaller screens */
  .navbarulli {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  /* Adjust position for top right items on smaller screens */
  .topright {
    right: 10px;
    top: 10px;
  }
}
